[submodule "TheStephenAndroidLibrary"]
	path = TheStephenAndroidLibrary
	url = https://github.com/saltisgood/salt-android-library.git
[submodule "HoloEverywhere"]
	path = HoloEverywhere
	url = https://github.com/saltisgood/HoloEverywhere.git
